.content-section {
  height: 80vh;
  z-index: 1;
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  .content-section {
    height: 85vh; /* this must be equal with .body-start (scene) in ewery width */
  }
}
