.summary {
    text-align: left;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    text-align: center;
     
}

.summary h1 {
    font-size: 4rem;
}

.summary h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.summary p {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.summary ul {
    list-style: none;
}

.summary ul li {
    display: inline;
    font-size: 2.5rem;
    padding: 0.5rem;
}

.summary ul li a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 799px) {
    .summary {
        text-align: center;
    }
    .summary h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    
    .summary h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .summary p {
        font-size: 1.5rem;
    }

    .summary {
        top: 30%;
        text-align: left;
        color: white;
        font-family: 'Rubik', sans-serif;
        padding: 2rem;
        border-radius: 1rem;
        position: absolute;
    }

    .summary ul li {
        display: inline;
        font-size: 2rem;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 799px) {
    .summary {
        left: 45%;
        top: 45%;
        transform: translate(-40%,-50%);
    }
}