.navbar  {
  justify-content: center;
  display: flex;
  list-style-type: none;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-active {
  background-color: #104264b9;
  transition: 1s;
}

.nav-active li .scroll-link {
  opacity: 1 !important;
}

.navbar li .scroll-link {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transition: 1s;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 1ms;
  padding: 1rem;
  cursor: pointer;
  display: block;
  font-family: "Rubik", sans-serif;
}

.navbar  li .scroll-link:hover {
  opacity: 1;
}

@media screen and (max-width: 445px) {
  .navbar  li .scroll-link {
    font-size: 1.2rem;
  }
}
