.header-section {
  background-color: #1b7dbe;
  border: 1px solid #1b7dbe;
  color: white;
  font-family: "Rubik", sans-serif;
  width: 100%;
  overflow-x: hidden;
  
}

.scroll-down-icon {
  text-align: center;
  margin-bottom: 2rem;
}

.scroll-down-icon-svg {
  font-size: 50px;
}

.scroll-down-icon p {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.scroll-down-icon .scroll-link {
  color: white;
  cursor: pointer;
}

.about-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 799px) {
  .scroll-down-icon p {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .scroll-down-icon-svg {
    font-size: 40px !important;
  }
  
}
