.header-section {
    background-color: #1B7DBE;
    border: 1px solid #1B7DBE;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.scroll-down-icon {
 text-align: center;
}

.scroll-down-icon p {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.scroll-down-icon a {
    color: white;
}

.about-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}